:root{
    --color-1:rgb(0, 204, 255);
    --color-2:white; 
}
span{
    color: white;
}
.row{
    height: 100vh;
}
.col-sm.l
{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 204, 255);
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
}
.col-sm.r
{
    margin: 0;
    padding: 0;
    background-color: white;

}
.row.upper
{
    margin: 0;
    padding: 0;
    height: 32%; 
}
.row.middle
{
    margin: 0;
    padding: 0;
    height: 37%;
}
.row.lower
{
    margin: 0;
    padding: 0;
    height: 31%;
}
.col-sm.rightMiddle {
    margin: 0;
    padding: 0;
    height: 100%;    
    background-color: white;
  }
  .col-sm.MidMiddle {
    margin: 0;
    padding: 0;
    height: 100%;  
    border-color: azure;
    
  }
  .col-sm.leftMiddle 
  {
    margin: 0;
    padding: 0;
    height: 100%;    
    background-color: white;
  }
  .row.main
  {
    margin: 0;
    padding: 0;

  }
  .rectangle {
    justify-content: center;
    align-items: center;
    display: flex;
     height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: gray; 
  }
  .innerRectangle
  {
    padding: 10;
    margin: 10;
    height: 95%;
    width: 95%;
    border-radius: 10px;
    background-color: black;

  }
  h2
  {
      background-color: white;
  }
  .col-sm.name
  {
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex; 
  }
  h7
  {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
  }
  
  .lowerRectangle
  {
    height: 60%;
    width: 100%;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: black; 
  }
  .UpperRectangle
  {
      justify-content: center;
    align-items: flex-end;
    display: flex;
    margin-top: 13vh;
     height: 60%;
    width: 100%;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-color: black; 
  }
  .submit
  {
      
      margin-left: 4.2vh;
      background-color: white;
      border-radius: 90px;
      display: inline;
  }
  .submit1
  {
      background-color: white;
      border-radius: 90px;
      display: inline;
      /* margin-left: 2.2vw; */
  }
  .submit2
  {
      background-color: white;
      border-radius: 90px;
      display: inline;
  }
  .messageDiv{
      background-color: white;
      height: 35vh;
      
  }
  #player
  {
      
    border-radius: 5%;
  }

  