/* stylesheet which contains the stylesheet about the smart watch application html */

:root{
    --color-1:rgb(0, 204, 255);
    --color-2:white; 
    --color-outer:rgb(63, 61, 61);
    --color-OuterRec: rgb(77, 74, 74);
}
span{
    color:var( --color-2);
}
.row{
    height: 100vh;
}
.col-sm.l
{
    margin: 0;
    padding: 0;
    background-color: var(--color-1);
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
}
.col-sm.r
{
    margin: 0;
    padding: 0;
    background-color: var( --color-2);
}
.row.upper
{
    margin: 0;
    padding: 0;
    height: 32%; 
}
.row.middle
{
    margin: 0;
    padding: 0;
    height: 37%;
}
.row.lower
{
    margin: 0;
    padding: 0;
    height: 31%;
}
.col-sm.rightMiddle {
    margin: 0;
    padding: 0;
    height: 100%;    
    background-color:var( --color-2);
  }
  .col-sm.MidMiddle {
    margin: 0;
    padding: 0;
    height: 100%;  
    border-color:var( --color-2);
    
  }
  .col-sm.leftMiddle 
  {
    margin: 0;
    padding: 0;
    height: 100%;    
    background-color: var( --color-2);
  }
  .row.main
  {
    margin: 0;
    padding: 0;

  }
  .rectangle {
    justify-content: center;
    align-items: center;
    display: flex;
     height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: var(--color-outer); 
  }
  .innerRectangle
  {
    padding: 10;
    margin: 20;
    height: 88%;
    width: 88.5%;
    border-radius: 10px;
    background-color: black;
    bo

  }
  h2
  {
      background-color: var( --color-2);
  }
  .col-sm.name
  {
    background-color: var( --color-2);
    justify-content: center;
    align-items: center;
    display: flex; 
  }
  h7
  {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
  }
  
  .lowerRectangle
  {
    height: 60%;
    width: 100%;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: var( --color-OuterRec); 
  }
  .UpperRectangle
  {
      justify-content: center;
    align-items: flex-end;
    display: flex;
    margin-top: 13vh;
     height: 60%;
    width: 100%;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-color: var( --color-OuterRec); 
  }
  .submit
  {
      
      margin-left: 5vh;
      background-color: var( --color-2);
      border-radius: 90px;
      display: inline;
      margin-top: 0.5vh;
  }
  .submit1
  {
      background-color: var( --color-2);
      border-radius: 90px;
      display: inline;
  }
  .submit2
  {
      background-color: var( --color-2);
      border-radius: 90px;
      display: inline;
  }
  .messageDiv{
      height: 30vh;
      display: none; 
      overflow: auto;
  }
  .timeDiv{
    display: none;
  }
  h8
  {
      margin-left: 10;
      height: 2vh;
      width:20px;
  }
 
  .sub
  {
    border-radius: 10px;
    margin-left: 5%;
  }
  .sms{
    border-radius: 5px;
      height: 28vh;
      overflow: auto;
  }
  .smallRect
  {

    border-radius: 10px;
    background-color: gray; 

  }
  .navbar{
      margin: 0;
      padding: 0;
  }
  #player
  {
      border-radius: 5px;
  }
  .playMusic
  {
    width: 100%;
    height: 110%;
  }  
   .playMusic iframe
  {
    width: 100%;
    height: 100%;
   
  }


  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
   
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
